.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.hero__container {
  background-color: #fefaf5;
  height: 70vh;
  margin-top: 10vh;
}
.hero__container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10%;
}
h1.hero__title {
  color: #335576;
}
.hero__content {
  color: #335576;
  font-size: 0.875rem;
  line-height: 1.5;
}
.hero__link {
  color: white;
  background-color: #db7a4e;
  padding: 0.625rem 2.5rem;
  border-radius: 25px;
  font-size: 14px;
}
/* Transition for hero link */
.hero__link:hover {
  color: #db7a4e;
  background-color: #335576;
  transform: scale(1.1);
}
.hero__container-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5%;
}
.hero__image {
  width: 70%;
  transition-duration: 5s;
}
/* Animation for hero image */
.hero__image:hover {
  transform: rotate(-15deg) translateX(100px);
}
h2.card__title {
  color: #335576;
  margin-left: 10%;
}
.card__container {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  align-items: center;
}
/* Animation for cards */
.card__image-container:hover {
  transform: scale(1.1);
}
.card__image {
  width: 18.75rem;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.2);
}
.card__image-container {
  position: relative;
  text-align: center;
}
.card__name {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  font-size: 24px;
  font-weight: 700;
  color: #f7f7f7;
}

/* Contact form styling */
/* Ref: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_contact_form */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #db7a4e;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #335576;
}

.contact__container {
  width: 60%;
  border-radius: 5px;
  background-color: fff;
  padding: 50px 200px;
  margin: auto;
}

.contact__title,
.contact__item {
  color: #335576;
}
